body {
  background-image: url('background.png'); 
  background-size:10%10%;
}
div {
  background-color: #fffacd;
}
hr{ 
  border-color:#cd853f;
  border-style:none;
  border-top-style:ridge;
  border-width:2px;
  height:3px;
  width:20%; 
}
.table{
  border: 1mm ridge #d3d3d3;
  background-color:#f5fffa;
}
.table1:hover{
  
  background-color:#ffefd5;
}
a:any-link {
  /*border: 1px solid orange;*/
  color:#4682b4;
  font: 1rem monospace;
  font-size:14px;
}
.container {
  max-height:400px;
  max-width:800px;
  overflow: scroll;
}